# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env

# macOS
.DS_Store

# IntelliJ / PyCharm
.idea/
*.iml

# VS Code
.vscode/
